@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

/*Reset and Common Styles*/
* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  font-family: "Poppins" sans-serif;
  font-weight: 400;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-heading {
  font-size: 5rem;
  color: #8b1313;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  margin-bottom: 15rem;
  border-bottom: 0.3rem solid #8b1313;
  text-shadow: 0.2rem 0.2rem 0.5rem #555;
}

.mobile-float {
  visibility: hidden;
}

/*End of Reset and Common Styles*/

/*Section 1*/
.section-1 {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(
      to right bottom,
      rgba(223, 223, 223, 0.95),
      rgba(203, 59, 59, 0.95)
    ),
    url(./images/logo-wallpaper.png);
  background-size: cover;
  flex-direction: column;
  position: relative;
}

.section-1-heading {
  font-size: 2.3rem;
  color: #fffffff3;
  background-color: rgb(139, 2, 2);
  margin: 5rem 0;
  padding: 0.5rem 3rem;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
  border: 0.1rem solid rgb(0, 0, 0);
  border-radius: 5rem;
  position: absolute;
  top: 5rem;
  right: 5rem;
}

.portrait-img {
  width: 20rem;
  height: 20rem;
  object-fit: cover;
  border-radius: 50%;
  background-color: rgba(159, 0, 0, 0.871);
  padding: 0.5rem;
  opacity: 0.9;
  position: absolute;
  top: 2rem;
}

.my-name {
  font-size: 2.3rem;
  color: #fffffff3;
  background-color: rgb(139, 2, 2);
  margin: 5rem 0;
  padding: 0.5rem 3rem;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
  border: 0.1rem solid rgb(0, 0, 0);
  border-radius: 5rem;
  position: absolute;
  top: 5rem;
  left: 5rem;
}

.q-line-1 {
  display: block;
  font-size: 12rem;
  font-family: "Bebas Neue", cursive;
  color: #880202;
  background-color: rgba(255, 255, 255, 0.383);
  margin-top: 7rem;
  letter-spacing: 0.8rem;
  animation-name: moveInLeft;
  animation-duration: 4s;
  animation-timing-function: ease-out;
}

.q-line-2 {
  display: block;
  font-size: 12rem;
  font-family: "Bebas Neue", cursive;
  color: #880202;
  background-color: rgba(255, 255, 255, 0.383);
  margin-top: 7rem;
  letter-spacing: 0.8rem;
  animation: moveInRight 4s ease-out;
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }

  80% {
    transform: translateX(10px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }

  80% {
    transform: translateX(-10px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

.section-1-btn {
  font-size: 1.7rem;
  font-weight: 700;
  color: rgb(255, 255, 255);
  background-color: rgb(128, 0, 179);
  border: 0.3rem solid rgb(128, 31, 128);
  padding: 0.5rem 1rem;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  position: absolute;
  top: 70rem;
  visibility: hidden;
}

.section-1-btn:hover {
  color: #dfcd07;
}
/*End of section 1*/

/*Navbar*/
.navbar {
  width: 100%;
  height: 4rem;
  background-color: #8b1313;
  box-shadow: 0.2rem 0.2rem 0.5rem #555;
  position: absolute;
  z-index: 300;
}

.sticky {
  position: fixed;
  top: 0;
}

.navbar-link {
  font-size: 1.7rem;
  font-weight: 600;
  color: rgb(255, 255, 255);
  margin: 0 3rem;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
  position: relative;
  transition: color 0.2s;
}

.navbar-link:hover {
  color: #e98222;
}

.navbar-link::before {
  content: "";
  width: 0;
  height: 0.2rem;
  background-color: #e98222;
  position: absolute;
  right: -15%;
  bottom: -0.3rem;
  transition: width 0.2s;
}

.change.navbar-link::before {
  width: 130%;
}

.navbar-link:hover::before {
  width: 130%;
}
/*End of Navbar*/

/*Section 2*/
.section-2 {
  width: 100%;
  height: 100%;
  padding: 15rem 0 10rem 0;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-2-heading {
  margin-bottom: 4rem;
}

.about-me-paragraph {
  background-color: #b64e4edb;
  box-shadow: .5rem .5rem #a4a4a4;
  width: 70rem;
  height: 43rem;
  color: rgb(255, 255, 255);
  font-size: 2rem;
  margin-bottom: 10rem;
  border-radius: 3rem;
  font-family: 'Poppins', sans-serif;
}

.about-me-text {
  margin: 3rem 3rem 3rem 3rem;
}

.logos-container {
  display: flex;
  margin-bottom: 10rem;
}

.logo-container {
  display: flex;
  justify-content: center;
  width: 15rem;
  height: 15rem;
  margin: 2rem;
}

.services {
  width: 100%;
  height: 30vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.service {
  text-align: center;
}

.service:first-child,
.service:last-child {
  align-self: flex-start;
}

.service i {
  font-size: 10rem;
  color: rgb(96, 33, 33);
  margin-bottom: 2rem;
  text-shadow: 0.1rem 0.1rem 0.5rem #555;
}

.service h2 {
  font-size: 2rem;
  color: #fff;
  background-color: rgb(96, 33, 33);
  width: 25rem;
  letter-spacing: 0.3rem;
  transform: skew(-10deg);
  box-shadow: 0.2rem 0.2rem 0.5rem #555;
}
/*End of section 2*/

/*Section 3*/
.section-3 {
  width: 100%;
  height: 100%;
  padding: 10rem 0;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projects-wrapper {
  width: 80%;
  flex-wrap: wrap;
}

.project {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  background-color: #fff;
  box-shadow: 0.3rem 0.3rem 0.5rem #777;
  position: relative;
  overflow: hidden;
  transition: box-shadow 0.5s;
}

.project:hover {
  box-shadow: 1rem 1rem 1rem #777;
}

.project-text {
  text-align: center;
  letter-spacing: 0.1rem;
  position: absolute;
  top: -10rem;
  transition: top 0.3s;
  z-index: 10;
}

.project:hover .project-text {
  top: 5rem;
  transition: top 0.3s 0.3s;
}

.project-name {
  font-size: 3rem;
  font-weight: 700;
  color: #333;
  text-transform: capitalize;
}

.project-tech {
  font-size: 1.8rem;
  color: #c60000;
}

.project-img {
  width: 36rem;
  height: 25rem;
  transition: opacity 0.3s;
}

.project:hover .project-img {
  opacity: 0.2;
}

.project-link {
  font-size: 2rem;
  font-weight: 500;
  color: #333;
  letter-spacing: 0.1rem;
  border: 0.3rem solid #c60000;
  padding: 0 1rem;
  background-color: #fff;
  position: absolute;
  bottom: -5rem;
  transition: bottom 0.3s;
}

.project:hover .project-link {
  bottom: 5rem;
  transition: bottom 0.3s 0.3s;
}
/*End of section 3*/

/*Section 4*/
.section-4 {
  width: 100%;
  height: 70vh;
  background-color: rgb(54, 10, 10);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.section-4-heading {
  color: #fff;
  box-shadow: none;
  border-color: #fff;
  margin-bottom: 5rem;
}

.contact-form {
  width: 50rem;
  flex-direction: column;
}

.contact-form input,
.contact-form-btn,
.contact-form textarea {
  width: 100%;
  padding: 0.5rem;
  margin: 0.5rem;
  background-color: #eef;
  font-size: 1.5rem;
  border: 0.2rem solid #860b0b;
  color: #555;
}

.contact-form textarea {
  height: 10rem;
  max-height: 15rem;
  max-width: 100%;
}

.contact-form-btn {
  background-color: #000000;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1rem;
  cursor: pointer;
}
/*End of section 4*/

/*Section 5*/
.section-5 {
  width: 100%;
  height: 30vh;
  background-color: rgb(255, 255, 255);
  flex-direction: column;
}

.social-media {
  margin-bottom: 5rem;
}

.social-media-link {
  margin: 0 2rem;
  padding: 0.7rem;
  background-color: #e41c6f;
  border-radius: 0.5rem;
  display: inline-block;
}

.linked-in {
  background-color: rgb(0, 71, 152);
}

.code-pen {
  background-color: rgb(0, 0, 0);
}

.github {
  background-color: rgb(0, 0, 0);
}

.social-media-link i {
  font-size: 3rem;
  color: #fff;
}

.copyright {
  color: #aaa;
  font-size: 2rem;
  letter-spacing: 0.2rem;
  font-weight: 300;
  text-align: center;
}
/*End of section 5*/

/*Responsive*/
@media (max-width: 1200px) {
  .services {
    height: auto;
    flex-wrap: wrap;
  }

  .service {
    margin: 3rem 2rem;
  }
}

@media (max-width: 800px) {
  .section-1-heading {
    font-size: 4rem;
  }

  .logos-container {
    width: 50rem;
    flex-wrap: wrap;
  }
}

@media (max-width: 600px) {
  .section-1-heading {
    font-size: 3rem;
  }

  .navbar-link {
    margin: 0 2rem;
    font-size: 1.5rem;
  }

  .section-2 {
    padding: 10rem;
  }

  .section-2-heading {
    margin-bottom: 10rem;
  }

  .logos-container {
    width: 45rem;
  }

  .project-img {
    width: 100%;
  }

  .contact-form {
    width: 40rem;
  }

  .copyright {
    width: 70%;
  }
}

@media (max-width: 500px) {
  html {
    font-size: 55%;
  }
}

@media (max-width: 450px) {

  .section-1 {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(
        to right bottom,
        rgba(223, 223, 223, 0.95),
        rgba(203, 59, 59, 0.95)
      ),
      url(./images/mobile-wallpaper.png);
    background-size: contain;
    background-repeat: no-repeat;
    flex-direction: column;
    position: relative;
  }

  .top-drop {
    width: 15rem;
    font-size: 1rem;
  }

  .portrait-img {
    width: 10rem;
    height: 10rem;
  }

  .floats {
    visibility: hidden;
  }

  .mobile-float {
    width: 40rem;
    height: 40rem;
    font-size: 5rem;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: 35rem;
    left: 5rem;
    background-color: #ba2f3fba;
    animation: animate 3s infinite;
    visibility: visible;
  }

  .mobile-float-text {
    display: flex;
    position: relative;
    top: 14rem;
    left: 2rem;
    font-size: 5rem;
    color: rgba(255, 255, 255, 0.736);
  }

  html {
    font-size: 45%;
  }

  .section-1-heading {
    font-size: 2.5rem;
    font-size: 1rem;
  }

  .section-1-heading {
    font-size: 1rem;
  }

  .navbar-link {
    margin: 0 1.5rem;
  }

  .section-2-heading {
    text-align: center;
  }

  .about-me-paragraph {
      background-color: #b64e4edb;
      box-shadow: .5rem .5rem #a4a4a4;
      width: 43rem;
      height: 43rem;
      color: rgb(255, 255, 255);
      font-size: 2rem;
      margin-bottom: 10rem;
      border-radius: 3rem;
      font-family: 'Poppins', sans-serif;
      overflow: scroll;
  }

  .logos-container {
    width: 40rem;
  }

  @keyframes animate {
    0% {
      transform: translateY(-20px);
    }
    50% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-20px);
    }
  }
}

/*End of Responsive*/
