@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

/*Reset and Common Styles*/
* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  font-family: "Poppins" sans-serif;
  font-weight: 400;
}

html {
  font-size: 62.5%;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-heading {
  font-size: 5rem;
  color: #333;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  margin-bottom: 15rem;
  border-bottom: 0.3rem solid #333;
  text-shadow: 0.2rem 0.2rem 0.5rem #555;
}

/*End of Reset and Common Styles*/

/*Section 1*/
.section-1 {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(
      to right bottom,
      rgba(138, 178, 251, 0.75),
      rgba(235, 144, 255, 0.75)
    ),
    url(./images/laptop-wallpaper.png);
  background-size: cover;
  flex-direction: column;
  position: relative;
}

.section-1-heading {
  font-size: 2.3rem;
  color: #fffffff3;
  background-color: rgb(45, 0, 84);
  margin: 5rem 0;
  padding: 0.5rem 3rem;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
  border: 0.1rem solid rgb(151, 0, 189);
  border-radius: 5rem;
  position: absolute;
  top: 5.5rem;
  right: 5rem;
}

.portrait-img {
  width: 20rem;
  height: 20rem;
  object-fit: cover;
  border-radius: 50%;
  background-color: rgba(136, 92, 183, 0.7);
  padding: 0.5rem;
  opacity: 0.9;
  position: absolute;
  top: 2rem;
}

.my-name {
  font-size: 2.3rem;
  color: #fffffff3;
  background-color: rgb(45, 0, 84);
  margin: 5rem 0;
  padding: 0.5rem 3rem;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
  border: 0.1rem solid rgb(151, 0, 189);
  border-radius: 5rem;
  position: absolute;
  top: 5rem;
  left: 5rem;
}

.q-line-1 {
  display: block;
  font-size: 12rem;
  font-family: 'Bebas Neue', cursive;
  color: #f7f79d;
  margin-top: 7rem;
  letter-spacing: 0.8rem;
  animation-name: moveInLeft;
  animation-duration: 4s;
  animation-timing-function: ease-out;
  
}

.q-line-2 {
  display: block;
  font-size: 12rem;
  font-family: 'Bebas Neue', cursive;
  color: #f7f79d;
  margin-top: 7rem;
  letter-spacing: 0.8rem;
  animation: moveInRight 4s ease-out;

}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
 
  80% {
    transform: translateX(10px);
  }
 
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
 
@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
 
  80% {
    transform: translateX(-10px);
  }
 
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

.section-1-btn {
  font-size: 1.7rem;
  font-weight: 700;
  color: rgb(255, 255, 255);
  background-color: rgb(128, 0, 179);
  border: 0.3rem solid rgb(128, 31, 128);
  padding: 0.5rem 1rem;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  position: absolute;
  top: 70rem;
  visibility: hidden;
}

.section-1-btn:hover {
  color: #dfcd07;
}
/*End of section 1*/

/*Navbar*/
.navbar {
  width: 100%;
  height: 4rem;
  background-color: #583a68;
  box-shadow: 0.2rem 0.2rem 0.5rem #555;
}

.navbar-link {
  font-size: 1.7rem;
  font-weight: 600;
  color: rgb(255, 255, 255);
  margin: 0 3rem;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
  position: relative;
  transition: color 0.2s;
}

.navbar-link:hover {
  color: #dfcd07;
}

.navbar-link::before {
  content: "";
  width: 0;
  height: 0.2rem;
  background-color: #dfcd07;
  position: absolute;
  right: -15%;
  bottom: -0.3rem;
  transition: width 0.2s;
}

.navbar-link:hover::before {
  width: 130%;
}

/*Section 2*/
.section-2 {
  width: 100%;
  height: 100%;
  padding: 15rem 0 10rem 0;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.progress-bar {
  width: 60rem;
  height: 3rem;
  background-color: #ccc;
  margin: 1.5rem 0;
  border-radius: 0.3rem;
  box-shadow: 0.2rem 0.2rem 1rem #555;
  position: relative;
}

.progress-text {
  position: absolute;
  left: 1rem;
  font-size: 1.5rem;
  color: white;
}

.progress-text span {
  margin: 0 0.5rem;
  font-size: 1.8rem;
  font-weight: 700;
}

.progress-percent {
  width: 90%;
  height: 100%;
  background-color: #e41c6f;
  border-radius: 00.3rem;
}

.services {
  width: 100%;
  height: 30vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.service {
  text-align: center;
}

.service:first-child,
.service:last-child {
  align-self: flex-start;
}

.service i {
  font-size: 10rem;
  color: #888;
  margin-bottom: 2rem;
  text-shadow: 0.1rem 0.1rem 0.5rem #555;
}

.service h2 {
  font-size: 2rem;
  color: #fff;
  background-color: #777;
  width: 25rem;
  letter-spacing: 0.3rem;
  transform: skew(-10deg);
  box-shadow: 0.2rem 0.2rem 0.5rem #555;
}
/*End of section 2*/

/*Section 3*/
.section-3 {
  width: 100%;
  height: 100%;
  padding: 10rem 0;
  background-color: #eef;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projects-wrapper {
  width: 80%;
  flex-wrap: wrap;
}

.project {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  background-color: #fff;
  box-shadow: .3rem .3rem .5rem #777;
  position: relative;
  overflow: hidden;
  transition: box-shadow 0.5s;
}

.project:hover {
  box-shadow: 1rem 1rem 1rem #777;
}

.project-text {
  text-align: center;
  letter-spacing: 0.1rem;
  position: absolute;
  top: -10rem;
  transition: top 0.3s;
  z-index: 10;
}

.project:hover .project-text{
  top: 5rem;
  transition: top 0.3s 0.3s;
}

.project-name {
  font-size: 3rem;
  font-weight: 700;
  color: #333;
  text-transform: capitalize;
}

.project-tech {
  font-size: 1.8rem;
  color: #e41c6f;
}

.project-img {
  width: 36rem;
  height: 25rem;
  transition: opacity 0.3s;
}

.project:hover .project-img {
opacity: .2;
}

.project-link {
  font-size: 2rem;
  font-weight: 500;
  color: #333;
  letter-spacing: 0.1rem;
  border: 0.3rem solid #e41c6f;
  padding: 0 1rem;
  background-color: #fff;
  position: absolute;
  bottom: -5rem;
  transition: bottom 0.3s;
}

.project:hover .project-link {
  bottom: 5rem;
  transition: bottom 0.3s 0.3s;
}
/*End of section 3*/
/*End of Navbar*/
